
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ana Sayfa</h1>
<img src="~/Content/img/resim.jpg"  alt="resim" class="img-left"/ >
<p>Turizm  bizden sorulur </p>
    