
@{
    ViewBag.Title = "Satış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Satış depertmanı Sait Fetih Alkan</h2>
<p>14000₺</p>
<img src="~/Content/img/Tufanbeyli-Anadolu-Turizm.jpg"  alt="resim" class="img-left"/ >
<p>20000₺</p>
<img src="~/Content/img/alp.jpg"  alt="resim" class="img-circle"/ >


